.input {
  /* border: 1px solid red; */
  outline: green;
}
.show {
  opacity: 1;
  transition: 1s all ease;
}
.hide {
  opacity: 0;
}

.test-enter {
  opacity: 0;
}
.test-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.test-enter-done {
  opacity: 1;
}
.test-exit {
  opacity: 1;
}
.test-exit-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.test-exit-done {
  opacity: 0;
}